<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body
            {
                
                background: linear-gradient(to bottom, #007f73, transparent);
                text-align: center;
                font-size: 1em;
            }
        </style>
    </head>
    <body>
        <h1>You successfully logged in using Passport.js and sessions congratulations!</h1>
    </body>
</html>